/* Responsive Styles */
@media screen and (min-width: 768px) {
    .container {
      width: 80%;
      /* Add more styles as needed */
    }
  
    iframe {
      grid-template-columns: repeat(2, 1fr);
      max-width: 1170px;
      min-width: 550px;
      /* Adjust height as needed */
      height: auto;
    }
  }
  
  /* Other Styles */
  body::before {
    /* Consider removing this pseudo-element or adjusting its purpose */
    display: block;
    content: '';
    height: 60px;
  }
  img{
     width: max(10rem, 18vw);
    background-color: #0a0a23;
    aspect-ratio: 35 / 4;
    padding: 0.4rem;   
  }
  section {
    max-width: 1140px;
    min-width: 360px;
    margin: 0 auto;
    padding: auto;
    object-fit: cover;
    /* Add other section styles */
  }
  
